@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesomeReg';
  src: url("../fonts/FontAwesome/Font_Awesome_5_Free-Regular-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesomeSol';
  src: url("../fonts/FontAwesome/Font_Awesome_5_Free-Solid-900.otf");
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: Roboto;
  color: #26aaf0;
  background-color: #dcdce1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #26aaf0;
}
.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #15151c;
  position: fixed;
  float: left;
}
.sidebar-hidden {
  width: 100px;
}
.right_unit {
  width: calc(100vw - 300px);
  height: 100vh;
  float: right;
}
.right_unit .index_p {
  color: #fff;
  width: 600px;
  margin: 150px 50px 10px 200px;
  font-size: 3.9em;
  line-height: 1.3em;
}
.right_unit-hidden {
  width: calc(100vw - 100px);
}
.wrap_unit_login {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 3px;
}
.wrap_unit_login-hidden {
  display: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.unit_login-hidden {
  display: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.unit_login {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: 0.5s;
}
.unit_login a {
  color: #fff;
}
.unit_login a:hover {
  color: #26aaf0;
}
.wrap-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrap-btns a {
  color: #fff;
}
.wrap-btns a:hover {
  color: #26aaf0;
}
.login-btn {
  padding: 5px 0px 7px 10px;
}
.registr-btn {
  padding: 5px 0px 7px 10px;
}
.wrap_menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.wrap_menu-btn a {
  display: block;
  width: 30px;
  height: 30px;
}
.wrap_menu-btn_active {
  right: 36px;
  top: 20px;
}
.menu-btn span::after,
.menu-btn span::before {
  position: absolute;
  left: 13px;
  top: -1px;
  content: '';
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.menu-btn span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-btn span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu-btn_active span,
.menu-btn_active span::after,
.menu-btn_active span::before {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 2px;
  background-color: #fff;
}
.menu-btn_active span::before {
  -webkit-transform: translateY(9px);
      -ms-transform: translateY(9px);
          transform: translateY(9px);
}
.menu-btn_active span::after {
  -webkit-transform: translateY(-9px);
      -ms-transform: translateY(-9px);
          transform: translateY(-9px);
}
.menu-lable_hidden {
  display: none;
}
.menu-lable_visible {
  display: block;
  position: absolute;
  top: 20px;
  left: -18px;
  margin: 15px 10px 10px 10px;
  color: #fff;
}
.menu_list-hidden {
  display: none;
}
.sidebar_menu_list a {
  text-decoration: none;
  color: #fff;
}
.sidebar_menu_list label {
  padding: 10px 40px 10px 15px;
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 1.2em;
}
.sidebar_menu_list label:hover {
  color: #26aaf0;
}
.sidebar_menu_list label::after {
  content: "\f106";
  font-family: "FontAwesomeSol";
  position: absolute;
  right: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar_menu_list input {
  display: none;
}
.sidebar_menu_list input:checked + label {
  background-color: #26aaf0;
  color: #fff;
}
.sidebar_menu_list input:checked + label::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sidebar_menu_list article {
  background-color: #27273b;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, -webkit-box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, -webkit-box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear, -webkit-box-shadow 0.6s linear;
}
.sidebar_menu_list input:checked ~ article.submenu-1 {
  height: 120px;
}
.sidebar_menu_list input:checked ~ article.submenu-2 {
  height: 85px;
}
.sidebar_menu_list input:checked ~ article.submenu-3 {
  height: 85px;
}
.sidebar_menu_list input:checked ~ article.submenu-4 {
  height: 85px;
}
.sidebar_menu_list input:checked ~ article.submenu-5 {
  height: 45px;
}
.sb_ml > ul > li {
  padding: 15px 5px 5px 30px;
}
.sb_ml > ul > li a:hover {
  color: link-hover;
}
.wrap_tab {
  margin-top: -110px;
}
.wrap_tab > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabs {
  list-style: none;
  position: relative;
}
.tabs > li > label {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px 10px 50px 10px;
  width: 200px;
  color: #26aaf0;
  border: 1px solid #26aaf0;
  border-radius: 18px;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs_sam > li > label {
  width: 300px;
}
.tabs .tab-content {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 0px;
  color: #26aaf0;
}
.wrap_unit_download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrap_unit_download_test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  background-color: #26aaf0;
  color: #fff;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}
.right_unit-index {
  background: url("../img/fon2.jpg");
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.right_unit-normdoc {
  background-color: #dcdce1;
}
.right_unit-normdoc > p {
  height: 150px;
  background-color: #f1f0f5;
  text-align: center;
  padding: 50px 0 30px 0;
  font-size: 2.1em;
  color: link-hover;
}
.wrap_file_list {
  margin: 30px 10px 10px 30px;
  width: 300px;
  height: 150px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
          box-shadow: 0 0 1px rgba(0,0,0,0.5);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url("../img/bg_img.png");
}
.wrap_file_list:hover:after {
  content: '';
  position: absolute;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  z-index: 1;
  background-color: rgba(44,64,112,0.5);
}
.wrap_file_list:hover .ul_buttons {
  display: block;
}
.file_unit {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.file_unit .shadow_box {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
  height: 50px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(44,64,112,0.5);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
          box-shadow: 0 0 1px rgba(0,0,0,0.5);
  text-align: center;
  line-height: 50px;
}
.file_unit .shadow_box span {
  text-align: center;
  font-size: 1.2em;
  opacity: 1;
}
.file_unit .shadow_box:before {
  content: '';
  position: absolute;
  left: 0;
  width: 300px;
  height: 50px;
}
.file_unit2 {
  display: block;
  margin: 10px;
  width: 300px;
  height: 150px;
  cursor: pointer;
  border: 1px solid #000;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.4);
          box-shadow: 0 0 1px rgba(0,0,0,0.4);
}
.file_unit2:hover {
  border: 1px solid #008000;
  background-color: #abebc6;
}
.file_unit2:hover .ul_buttons {
  display: block;
}
.ul_buttons {
  display: none;
  position: relative;
  z-index: 2;
}
.ul_buttons > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ul_buttons > ul > li {
  margin: 87px 10px 30px 10px;
  border: 1px solid link-hover;
  border-radius: 8px;
}
.ul_buttons > ul > li:hover a {
  background-color: #fff;
}
.ul_buttons > ul > li > a {
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  display: block;
  color: #fff;
}
.ul_buttons > ul > li > a:hover {
  color: #26aaf0;
}
