.test_unit {
  margin-left: 30px;
  padding: 30px;
  font-size: 1.3em;
  line-height: 1.5em;
}
.test_unit h1 {
  font-size: 1.5em;
  margin: 0 0 20px;
}
.test_unit h2 {
  font-size: 22px;
  margin: 15px 0;
}
.test_unit h3 {
  font-size: 18px;
  margin: 15px 0 10px;
}
.test_unit h4 {
  font-size: 16px;
  margin: 10px 0;
}
.test_unit h5 {
  font-size: 14px;
  margin: 10px 0 5px;
}
.test_unit h6 {
  font-size: 12px;
  margin: 5px 0;
}
.test_unit strong {
  font-weight: bold;
}
.ru_control-test > p {
  text-align: center;
  padding: 60px 20px;
  font-size: 1.8em;
  background-color: #f1f0f5;
}
.question h3 {
  text-align: left;
  font-size: 1.3em;
  padding: 10px;
}
.answers {
  color: #26aaf0;
  margin-bottom: 20px;
}
.answers li label {
  display: block;
  margin: 5px 5px 5px 30px;
}
.answers li label:hover {
  color: #f00;
}
.answers li label::before {
  content: '';
}
.answers [id^="slickQuiz_question"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.answers [id^="slickQuiz_question"] + label {
  position: relative;
  padding: 0 0 0 45px;
  cursor: pointer;
}
.answers [id^="slickQuiz_question"] + label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0px;
  width: 22px;
  height: 22px;
  border: 1px solid #f1f0f5;
  border-radius: 50%;
  background: #fff;
}
.answers [id^="slickQuiz_question"] + label:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #26aaf0;
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.answers [id^="slickQuiz_question"]:checked + label:after {
  opacity: 1;
}
.answers [id^="slickQuiz_question"]:checked + label:hover {
  color: #f00;
}
.quizArea,
.quizResults {
  zoom: 1;
}
.quizArea:before,
.quizResults:before,
.quizArea:after,
.quizResults:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.quizArea:after,
.quizResults:after {
  clear: both;
}
.quizResults {
  border: 1px solid #008000;
  padding: 20px;
}
h3 {
  margin: 0;
}
h3 span {
  font-weight: normal;
  font-style: italic;
}
.quizResultsCopy {
  clear: both;
  margin-top: 20px;
}
.questionCount {
  font-size: 1.2em;
  text-align: center;
}
.questionCount .current {
  color: #f00;
}
.questionCount span {
  font-weight: bold;
}
.button {
  float: left;
  margin: 10px;
  width: auto;
  padding: 5px 15px;
  color: #fff;
  background-color: #26aaf0;
  border-radius: 5px;
  text-decoration: none;
}
.button:hover {
  background-color: #2f4f4f;
}
.complete > ul.answers > li.correct p span,
.complete > ul.answers > ul.responses p span {
  color: #6c9f2e;
}
